@-webkit-keyframes duck-fly-1 {
  0% {
    left: -55px;
    top: 32vh;
  }
  50% {
    left: 50%;
    top: 34vh;
  }
  100% {
    left: 105%;
    top: 28vh;
  }
}

@keyframes duck-fly-1 {
  0% {
    left: -55px;
    top: 32vh;
  }
  50% {
    left: 50%;
    top: 34vh;
  }
  100% {
    left: 105%;
    top: 28vh;
  }
}

@-webkit-keyframes duck-fly-2 {
  0% {
    left: -55px;
    top: 17vh;
  }
  50% {
    left: 50%;
    top: 8vh;
  }
  100% {
    left: 105%;
    top: 55vh;
  }
}

@keyframes duck-fly-2 {
  0% {
    left: -55px;
    top: 17vh;
  }
  50% {
    left: 50%;
    top: 8vh;
  }
  100% {
    left: 105%;
    top: 55vh;
  }
}

@-webkit-keyframes duck-fly-3 {
  0% {
    left: -55px;
    top: 2vh;
  }
  50% {
    left: 50%;
    top: 12vh;
  }
  100% {
    left: 105%;
    top: 52vh;
  }
}

@keyframes duck-fly-3 {
  0% {
    left: -55px;
    top: 2vh;
  }
  50% {
    left: 50%;
    top: 12vh;
  }
  100% {
    left: 105%;
    top: 52vh;
  }
}

@-webkit-keyframes duck-fly-4 {
  0% {
    left: -55px;
    top: 42vh;
  }
  50% {
    left: 50%;
    top: 3vh;
  }
  100% {
    left: 105%;
    top: 74vh;
  }
}

@keyframes duck-fly-4 {
  0% {
    left: -55px;
    top: 42vh;
  }
  50% {
    left: 50%;
    top: 3vh;
  }
  100% {
    left: 105%;
    top: 74vh;
  }
}

@-webkit-keyframes duck-fly-5 {
  0% {
    left: -55px;
    top: 8vh;
  }
  50% {
    left: 50%;
    top: 54vh;
  }
  100% {
    left: 105%;
    top: 27vh;
  }
}

@keyframes duck-fly-5 {
  0% {
    left: -55px;
    top: 8vh;
  }
  50% {
    left: 50%;
    top: 54vh;
  }
  100% {
    left: 105%;
    top: 27vh;
  }
}

@-webkit-keyframes duck-fly-6 {
  0% {
    left: -55px;
    top: 27vh;
  }
  50% {
    left: 50%;
    top: 24vh;
  }
  100% {
    left: 105%;
    top: 3vh;
  }
}

@keyframes duck-fly-6 {
  0% {
    left: -55px;
    top: 27vh;
  }
  50% {
    left: 50%;
    top: 24vh;
  }
  100% {
    left: 105%;
    top: 3vh;
  }
}

body {
  background-image: url(https://i.ytimg.com/vi/i9R8MqilMW8/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  counter-reset: count;
  position: relative;
}

h1 {
  position: absolute;
  bottom: -16px;
  left: 32px;
}

input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  left: -999999px;
}

.duck-1 {
  position: absolute;
  -webkit-animation: duck-fly 5s linear 0s 1 both;
          animation: duck-fly 5s linear 0s 1 both;
}

.duck-1 {
  position: absolute;
  -webkit-animation: duck-fly-1 5s linear 1s 1 both;
          animation: duck-fly-1 5s linear 1s 1 both;
}

.duck-2 {
  position: absolute;
  -webkit-animation: duck-fly-2 5s linear 2s 1 both;
          animation: duck-fly-2 5s linear 2s 1 both;
}

.duck-3 {
  position: absolute;
  -webkit-animation: duck-fly-3 5s linear 3s 1 both;
          animation: duck-fly-3 5s linear 3s 1 both;
}

.duck-4 {
  position: absolute;
  -webkit-animation: duck-fly-4 5s linear 4s 1 both;
          animation: duck-fly-4 5s linear 4s 1 both;
}

.duck-5 {
  position: absolute;
  -webkit-animation: duck-fly-5 5s linear 5s 1 both;
          animation: duck-fly-5 5s linear 5s 1 both;
}

.duck-6 {
  position: absolute;
  -webkit-animation: duck-fly-6 5s linear 6s 1 both;
          animation: duck-fly-6 5s linear 6s 1 both;
}

img {
  width: 50px;
}

input[type="checkbox"]:checked {
  counter-increment: count;
}

input[type="checkbox"]:checked + img {
  visibility: hidden;
  display: none;
}

h1::after {
  content: " " counter(count);
}
